#grade {
    display: grid;

    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;

    width: 100vw;
    height: 100vh;

    grid-template-areas:
        "nav header header"
        "nav produtos publicidade"
        "nav servicos publicidade"
        "nav footer footer";
}

#grade>* {
    border: 1px solid black;
}

header {
    grid-area: header;
}

section#produtos {
    grid-area: produtos;
}

section#servicos {
    grid-area: servicos;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidade;
}

footer {
    grid-area: footer;
}